<section class="amp-gallery" aria-label="Photos">
  <figure class="amp-photo">
    <img src="/img/user/Pictures/Bubblegum.jpeg" width="120" height="120" alt="Bubblegum the dog" loading="lazy" decoding="async" />
    <figcaption>Bubblegum</figcaption>
  </figure>
  <figure class="amp-photo">
    <img src="/img/user/Pictures/Rowan.jpeg" width="120" height="120" alt="Rowan the dog" loading="lazy" decoding="async" />
    <figcaption>Rowan</figcaption>
  </figure>
  <figure class="amp-photo">
    <img src="/img/user/Pictures/Lemon2.jpg" width="120" height="120" alt="Lemon the cat" loading="lazy" decoding="async" />
    <figcaption>Lemon</figcaption>
  </figure>
  <figure class="amp-photo">
    <img src="/img/user/Pictures/Middle%20school%20pic.jpg" width="120" height="120" alt="Mr. Phil in middle school" loading="lazy" decoding="async" />
    <figcaption>Middle-school me</figcaption>
  </figure>
</section>
