<nav class="amp-versions" aria-label="Profile versions">
  <a class="amp-ver{% if version == 'short' %} is-here{% endif %}" href="/about-mr-phil/">Short</a>
  <a class="amp-ver{% if version == 'mid' %} is-here{% endif %}" href="/about-mr-phil/mid/">Mid</a>
  <a class="amp-ver{% if version == 'full' %} is-here{% endif %}" href="/about-mr-phil/full/">Full</a>
  <a class="amp-ver amp-ver--vote{% if version == 'vote' %} is-here{% endif %}" href="/about-mr-phil/vote/">Vote</a>
</nav>
